:root {
	--bg: #8D97FF64;
	--font: #FF0000;
	--bgimage: "background2.jpg";
	font-family: Arial;
	background-image: url("background2.jpg");
	background-size: cover;
	background-color: #FF0000A0;
	background-blend-mode: darken;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 8px;
	width: 100%;
	height: 100%;
}

.grid-item {
	background-color: var(--bg);
}

.calendar {
	overflow-x: hidden;
	overflow-y: scroll;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 4;
}

.calendar-event {
	color: var(--font);
	font-family: Arial;
	background-color: var(--bg);
	margin: 5px;
}

.calendar-day-container {
	color: var(--font);
	padding: 5px;
	font-family: Arial;
	background-color: var(--bg);
	margin: 5px;
}

.widget-text {
	color: var(--font);
	margin: 10px;
	font-size: 60px;
}

.temperature {
	background-color: var(--bg);
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}


.icon {
	width: 120px;
	height: 120px;
	align-items: center;
	display: block;
	margin: auto;
}
.icon-phrase {
	color: var(--font);
}
.graphic {
	align-items: center;
	display: block;
	margin: auto;
	position: absolute;
	
}
.graphic-label {
	text-align: center;
}
.minutecast-dial {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.title {
	text-align: center;
}
.graphic-wrapper {
	left: 30%;
	top: 38%;
	width: 50%;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.center-wrapper {
	align-items: center;
}


h1 {
	color: var(--font);
	text-decoration: underline;
	font-size: 30px;
	margin: 0px;
	padding: 10px;
}
